div.container-fluid#footer
    p.text-center Created by Matt Krell
    div#social-btns.text-center
        a(href='//www.facebook.com/matt.krell')
            i.fa.fa-facebook.fa-2x
        a(href='//twitter.com/MattKrell')
            i.fa.fa-twitter.fa-2x
        a(href='//github.com/StonePSU/gameswap')
            i.fa.fa-github.fa-2x