nav(class='navbar gameswap-navbar')
    div.container-fluid
        div.navbar-header
            button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class='navbar-brand gameswap-brand' href='#') GameSwap
