doctype html
html
    include head.pug
    body
        include nav.pug
        div.container
            div.row
                div.col-md-6
                    article
                        header 
                            h1 My Trade Requests
                            p Below is the list of all trades that you have initiated.  If you wish to delete a trade you may do so while it remains in "Pending" status.
                            
                        section
                            div#error-message
                                p#message-text
                            ul#my-trade-list.trades
                div.col-md-6
                    article
                        header  
                            h1 Incoming Trade Requests
                            p These are the incoming requests made to trade for your games.  You can choose to either Approve or Reject these trades.
                        section
                            div#error-message2
                                p#message-text2
                            ul#incoming-trade-list.trades
                    
    script(type='text/javascript' src='/public/js/tradeList.js')