body {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
header h1 {
    font-family: 'Barrio', cursive;
}

/* reset ul */
ul {
    padding: 0px;
}

.gameswap-brand {
    font-family: 'Barrio', cursive;
}

.gameswap-navbar {
    color: #fff;
    background-color: #f96332;
}

.gameswap-navbar a {
    color: #fff;
}

.gameswap-navbar .icon-bar {
    color: #fff;
}

.home-page h1 {
    color: #fff;
    font-size: 5em;
}

.home-page p {
    color: #fff;
    font-size: 1.75em;
    width: 60%;
    margin: auto;
}

.home-page a {
    font-size: 1.75em;
    margin-top: 1em;
}

.lg-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.big-margin-tb {
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.home-page {
    background-image: url('/public/img/bg-photo.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.game, .game-no-overlay {
}
.game-card {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    position: relative;
  
    transition: 0.6s;
    transform-style: preserve-3d;
}

.game:hover .game-card {
    transform: rotateY(180deg);
}

.game, .game-card, .game-front, .game-back, .game-no-overlay {
  width: 155px;
  height: 250px;
}

.game-front, .game-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.game-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.game-back {
  background: #f96332;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 40% 10%;
  text-align: center;
  transform: rotateY(180deg) translateZ(1px);
}


.game-id {
  display: none;
}

.game-card-caption {
  font-size: 1em;
  height: 100px;
  padding: 10px;
  overflow: hidden;
}

.game-cover:hover .game-card-overlay {
  display: block;
  cursor: pointer;
}

.col-lg-4 p {
    font-size: 1.375em;
}

#modal_signup {
    display:none;
}

#login {
    margin-bottom: 30px;
}

#games-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px auto;
    width: 100%;
}

#games-list li {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#error-message, #error-message2 {
    display: none;
}

#message-text, #message-text2 {
    color: red;
    font-weight: bold;
}

.trades {
    list-style-type: none;
}

.trades li {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #f96332;
    margin: 10px 0px;
    position: relative;
}

.trades li:nth-child(odd) {
    background: #f96332;
    color: white;
}

.trades li:nth-child(even) {
    background: white;
    color: #f96332;
}

.trade-buttons {
    color: inherit;
    position: absolute;
    top: 40%;
    right: 0px;
}

.approve-btn, .reject-btn, .delete-trade {
    color: inherit;
    cursor: pointer;
    margin: 0px 10px;
    transition: 0.5s;    
}

.delete-trade:hover, .reject-btn:hover, .approve-btn:hover {
    transform: scale(1.5);
}

#footer {
    background-color: #3d3d3d;
    color: #fff;
    padding: 20px 0px;
}

#social-btns i {
    padding: 0px 50px;
}

#social-btns a {
    color: #fff;
    outline: none;
}